---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
PointerAlignment: Left
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
AllowShortEnumsOnASingleLine: false
